MONGO_URI=mongodb://mongo:27017
MONGO_DB=controlplane
REDIS_URL=redis://redis:6379/0
H200_HOST=100.x.x.x
VLLM_URL=http://${H200_HOST}:8000/v1
DET_URL=http://${H200_HOST}:8100
MOCK_H200=0
SHADOW_TOKENS=40
BATCH_WINDOW_MS=10
LOG_LEVEL=INFO
